DELETE FROM unlocked_titles WHERE profile_id IN (SELECT id FROM profiles WHERE name IN ('reaper', 'wildcat')); DELETE FROM completed_quests WHERE profile_id IN (SELECT id FROM profiles WHERE name IN ('reaper', 'wildcat')); DELETE FROM title_requests WHERE profile_id IN (SELECT id FROM profiles WHERE name IN ('reaper', 'wildcat')); DELETE FROM profiles WHERE name IN ('reaper', 'wildcat');
