UPDATE profiles SET is_admin = FALSE, test_scores = '{}', settings = '{\
statsCalculator\: false, \theme\: null}' WHERE name = 'reaper'; DELETE FROM unlocked_titles WHERE profile_id IN (SELECT id FROM profiles WHERE name = 'reaper') AND name != 'Hunter'; DELETE FROM completed_quests WHERE profile_id IN (SELECT id FROM profiles WHERE name = 'reaper');
